@font-face {
  font-family: diario;
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.headerNavbar {
  width: 100%;
  background-color: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgb(37, 37, 37);
}
.headerNavbar .logo {
  display: flex;
  height: 3rem;
  width: 18rem;
  justify-content: flex-start;
  margin-left: 2rem;
}
.headerNavbar .navtot {
  width: 100%;
}
.headerNavbar .navtot .barraNav {
  width: 100%;
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.headerNavbar .navtot .barraNav a {
  text-decoration: none;
  font-family: diario;
  color: rgb(75, 75, 255);
  align-items: flex-end;
  display: inline-block;
  transition: transform 0.3s;
}
.headerNavbar .navtot .barraNav a:hover {
  color: azure;
  transform: scale(1.1);
}

.noticia {
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "principio principio principio" "imagen imagen imagen" "bajoimagen bajoimagen bajoimagen";
}
.noticia .titular {
  font-weight: 300;
  grid-area: principio;
  align-self: center;
  justify-self: center;
}
.noticia .video-flight {
  width: 100%;
  height: 60vh;
  grid-area: imagen;
}
.noticia .pienoticia {
  font-style: italic;
  grid-area: bajoimagen;
  align-self: flex-start;
  justify-self: center;
}

.grilla-main {
  margin-left: 7%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 70vh;
  column-gap: 16px;
}
.grilla-main .choosing-title {
  grid-column: 1/7;
  grid-row: 2;
  justify-self: center;
}
.grilla-main .land {
  grid-column: 2/3;
  grid-row: 3/13;
  justify-self: center;
  border-radius: 15px;
}
.grilla-main .land .iframe {
  border-radius: 28px;
}
.grilla-main .land .pLand {
  justify-self: center;
}
.grilla-main .air {
  grid-column: 3/4;
  grid-row: 3/13;
  justify-self: center;
}
.grilla-main .air .iframe {
  border-radius: 28px;
}
.grilla-main .air .pAir {
  text-align: center;
}
.grilla-main .sea {
  grid-column: 4/5;
  grid-row: 3/13;
  justify-self: center;
}
.grilla-main .sea .iframe {
  border-radius: 28px;
}
.grilla-main .sea .pSea {
  text-align: center;
}
.grilla-main .space {
  grid-column: 5/6;
  grid-row: 3/13;
  justify-self: center;
}
.grilla-main .space .iframe {
  border-radius: 28px;
}
.grilla-main .space .pSpace {
  text-align: center;
}

.div-carrusel {
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
}
.div-carrusel .ul-carrusel {
  display: flex;
  width: 400%;
  animation: slide 15s infinite ease-in-out;
}
.div-carrusel .ul-carrusel .li-div-ul-carrusel {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: rgb(4, 119, 212);
}
.div-carrusel .ul-carrusel .li-div-ul-carrusel .img-li-div-ul-carrusel {
  width: 700px;
  height: 700px;
  border-radius: 15px;
}
.div-carrusel .ul-carrusel .li-div-ul-carrusel .p-li-div-ul-carrusel {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
  max-width: 80%;
}

@keyframes slide {
  0%, 20% {
    transform: translateX(0%);
  }
  25%, 45% {
    transform: translateX(-100vw);
  }
  50%, 70% {
    transform: translateX(-200vw);
  }
  75%, 95% {
    transform: translateX(-300vw);
  }
}
.div-footer {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 18rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  column-gap: 20px;
}
.div-footer .logo-footer {
  grid-column: 2/4;
  grid-row: 2;
}
.div-footer .derechos {
  grid-column: 4/6;
  grid-row: 2/5;
  align-self: center;
}
.div-footer .derechos .p-derechos {
  font-size: 24px;
  color: white;
}
.div-footer .links {
  grid-column: 6/8;
  grid-row: 2/3;
  align-self: flex-end;
}
.div-footer .links .h2-footer-enlaces {
  grid-column: 6/8;
  grid-row: 2/3;
  color: rgb(197, 197, 197);
  font-size: 2rem;
  font-weight: 3000;
}
.div-footer .enlaces {
  grid-column: 6/7;
  grid-row: 4/7;
  row-gap: 1rem;
}
.div-footer .enlaces .enlacei {
  display: block;
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 2rem;
  font-style: italic;
  transition: transform 0.2s;
}
.div-footer .enlaces .enlacei:hover {
  color: rgb(77, 74, 238);
  transform: scale(1.2);
}

.accion {
  grid-column: 8/10;
  grid-row: 2/3;
  align-self: flex-end;
}
.accion h2 {
  font-size: 2rem;
  color: rgb(197, 197, 197);
}

.h2precio {
  font-size: 1.5rem;
  grid-column: 8/9;
  grid-row: 4/5;
  color: rgb(1, 168, 1);
  align-self: center;
}

.redes {
  grid-column: 9/11;
  grid-row: 2/3;
  color: rgb(197, 197, 197);
  align-self: flex-end;
  font-size: 1.5rem;
}

.icons {
  color: rgb(122, 122, 122);
  font-size: 32px;
  grid-row: 4/5;
  grid-column: 9/12;
}
.icons .social-link {
  display: inline-block;
  color: rgb(122, 122, 122);
  transition: transform 0.3s;
}
.icons .social-link:hover {
  color: white;
  transform: scale(1.2);
}
.icons .i {
  margin-left: 2rem;
}

.asd {
  background-color: aliceblue;
}

/*# sourceMappingURL=style.css.map */
