@media (max-width: 1440px){
    *{
        overflow-x: hidden;
    }

    .logo{
        margin-right: 6rem;
    }
    

    .grilla-main{
        height: auto;
        display: grid;
        grid-template-columns: 5,1fr;
        grid-template-rows: 2;

        .choosing-title{
            margin: 8px 0px;
            grid-column: 0/5;
            grid-row: 1;
            align-self: center;
        }
        .land{
            grid-column: 2;
            grid-row: 2;
            align-self: center;
        }
        .air{
            grid-column: 5;
            grid-row: 2;
            align-self: center;
        }
        .sea{
            grid-column: 2/3;
            grid-row: 3;
            align-self: center;
            margin-top: 8px;
        }
        .space{
            grid-column: 5;
            grid-row: 3;
            align-self: center;
            margin-top: 8px;
        }
    }
}
.div-footer{
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 18rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    column-gap: 20px;

    .logo-footer{
        grid-column: 1/4;
        grid-row: 2/4;

        & img{
            width: 18rem;
            height: 4rem;
            margin-left: 2rem;
        }
    }

    .derechos{
        grid-column: 4/6;
        grid-row: 2/5;
        align-self: center;
    
        .p-derechos{
            font-size: 24px;
            color: white;
        }
    }

    .links{
        grid-column: 6/8;
        grid-row: 2/3;
        align-self: flex-end;

        .h2-footer-enlaces{
            grid-column: 6/8;
            grid-row: 2/3;
            color: rgb(197, 197, 197);
            font-size: 2rem;
            font-weight: 3000;
        }
    }

    .enlaces{
        grid-column: 6/8;
        grid-row: 4/8;
        row-gap: 1rem;
        overflow-y: hidden;

        .enlacei{
            display: block;
            color: white;
            list-style: none;
            text-decoration: none;
            font-size: 2rem;
            font-style: italic;
            transition: transform 0.2s;
            &:hover{
                color: rgb(168, 168, 168);
                transform: scale(1.2);
            }
        }
    }
}

.accion{
    grid-column: 8/10;
    grid-row: 2/3;
    align-self: flex-end;

    h2{
        font-size: 2rem;
        color: rgb(197, 197, 197);
    }
}

.h2precio{
    font-size: 1.5rem;
    grid-column: 8/9;
    grid-row: 4/5;
    color: rgb(1, 168, 1);
    align-self: center;
}
.redes{
    grid-column: 9/11;
    grid-row: 2/3;
    color: rgb(197, 197, 197);
    align-self: flex-end;
    font-size: 1.5rem;
    overflow-y: hidden;
}

.icons{
    color: rgb(122, 122, 122);
    font-size: 28px;
    grid-row: 4/6;
    grid-column: 9/12;

    .social-link{
        overflow-y: hidden;
        display: inline-block;
        color: rgb(122, 122, 122);
        transition: transform 0.3s;
        height: auto;

        &:hover{
            color: white;
            transform: scale(1.2);
        }
    }
    .i{
        overflow-y: hidden;
        margin-left: 2rem;
    }
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width:1024px){
    *{
        overflow-x: hidden;
    }

    .logo{
        margin-right: 9rem;
    }
    .barraNav{

        li{
            margin-top: 1rem;
            margin-bottom: -0.3rem;
        }
    }


    .div-footer{
        background-color: rgb(37, 37, 37);
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(8,1fr);
        column-gap: 20px;

        .logo-footer{
            grid-column: 5/12;
            grid-row: 1;

            & img{
                width: 25rem;
                height: 4rem;
                margin-top: 8px;

            }
        }   

        .derechos{
            grid-column: 2/4;
            grid-row: 2/5;
            align-self: center;
    
            .p-derechos{
                font-size: 24px;
                color: white;
            }
        }

        .links{
            grid-column: 4/6;
            grid-row: 2/4;
            align-self: center;
            margin-bottom: 1rem;

            .h2-footer-enlaces{
                grid-column: 4/6;
                grid-row: 3;
                color: rgb(197, 197, 197);
                font-size: 2rem;
                font-weight: 3000;
            }
        }

        .enlaces{
            grid-column: 4/6;
            grid-row: 4/6;
            row-gap: 1rem;
            overflow-y: hidden;
            align-self: flex-start;

            .enlacei{
                display: block;
                color: white;
                list-style: none;
                text-decoration: none;
                font-size: 2rem;
                font-style: italic;
                transition: transform 0.2s;
                &:hover{
                    color: rgb(168, 168, 168);
                    transform: scale(1.2);
                }
            }
        }
    }

    .accion{
        grid-column: 6/8;
        grid-row: 2/3;
        align-self: flex-end;
        margin-bottom: 8px;

        h2{
            font-size: 2rem;
            color: rgb(197, 197, 197);
        }
    }

    .h2precio{
        font-size: 1.5rem;
        grid-column: 6/8;
        grid-row: 3;
        color: rgb(1, 168, 1);
        align-self: center;
    }
    .redes{
        grid-column: 8/12;
        grid-row: 2/3;
        color: rgb(197, 197, 197);
        align-self: flex-end;
        font-size: 1.5rem;
        overflow-y: hidden;
        margin-bottom: 4px;
    }

    .icons{
        color: rgb(122, 122, 122);
        margin-top: 20px;
        font-size: 28px;
        grid-row: 3/6;
        grid-column: 8/12;

        .social-link{
            overflow-y: hidden;
            display: inline-block;
            color: rgb(122, 122, 122);
            transition: transform 0.3s;
            height: auto;

            &:hover{
                color: white;
                transform: scale(1.2);
            }
        }
        .i{
            overflow-y: hidden;
            margin-left: 2rem;
        }
    }

    .main-contacto{
        width: 100%;

        .div-main-contacto{
            width: 100%;
           
        }
    }
}